@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1">Welcome to Rex's Gaming</h1>

<div class="table-responsive"> 
    <table class="table table-striped table-dark" >
        <thead>
            <tr>
                <th scope="col">Game Type</th>
                <th scope="col">Typical Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Single Player</td>
                <td>$39.99 - $59.99</td>
            </tr>
            <tr>
                <td>Multiplayer</td>
                <td>$9.99 - $49.99</td>
            </tr>
            <tr>
                <td>Co-op</td>
                <td>$29.99 - $59.99</td>
            </tr>
        </tbody>
    </table>
</div>