@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1">Welcome to Rex's Gaming</h1>

<div class="table-responsive"> 
    <table class="table table-striped table-dark" >
        <thead>
            <tr>
                <th scope="col">Game Type</th>
                <th scope="col">Typical Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Single Player</td>
                <td>$39.99 - $59.99</td>
            </tr>
            <tr>
                <td>Multiplayer</td>
                <td>$9.99 - $49.99</td>
            </tr>
            <tr>
                <td>Co-op</td>
                <td>$29.99 - $59.99</td>
            </tr>
        </tbody>
    </table>
</div>

<a class="btn btn-primary" data-bs-toggle="collapse" href="#single-player" role="button" aria-expanded="false" aria-controls="single-player">
    Example of a Single Player Game
</a>
<div class="collapse" id="single-player">
    <div class="card text-white bg-dark mb-3" style="width: 18rem;">
        <img src="https://th.bing.com/th/id/OIF.cv8lDuEqgtPACVt9b3EjOw?pid=ImgDet&rs=1" class="card-img-top" alt="Last Of Us Part 1">
        <div class="card-body">
            <h5 class="card-title">Last Of Us Part 1</h5>
            <p class="card-text">The Last of Us Part 1 is a single player game by Naughty Dog Entertainment which stars two characters:
                Joel, a hardened surviver, and Ellie, a young teen who is immune to the deadly fungus infected the inhabitants of the world
                they live in.
            </p>
            <a href="https://www.playstation.com/en-us/games/the-last-of-us-part-i/" class="btn btn-primary">More Info</a>
        </div>
    </div>
</div>
<a class="btn btn-primary" data-bs-toggle="collapse" href="#multiplayer" role="button" aria-expanded="false" aria-controls="single-player">
    Example of a Multiplayer Game
</a>
<div class="collapse" id="multiplayer">
    <div class="card text-white bg-dark mb-3" style="width: 18rem;">
        <img src="https://th.bing.com/th/id/OIP.5aFdhZ6Jc7DiN_-xvlrTdAHaET?pid=ImgDet&rs=1" class="card-img-top" alt="Destiny 2">
        <div class="card-body">
            <h5 class="card-title">Destiny 2</h5>
            <p class="card-text">Destiny 2 is an action MMO with a single evolving world that 
                you and your friends can join anytime, anywhere, absolutely free.</p>
            <a href="https://www.bungie.net/7/en/Destiny/NewLight" class="btn btn-primary">More Info</a>
        </div>
    </div>
</div>

<h2 class="diplay-2">About Rex's Gaming</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Magnis dis parturient montes nascetur ridiculus mus mauris. 
    Commodo ullamcorper a lacus vestibulum sed arcu non odio euismod.
    Ut tortor pretium viverra suspendisse. Sed risus pretium quam vulputate dignissim suspendisse in est. 
    Maecenas pharetra convallis posuere morbi leo urna molestie at elementum. 
    Eget est lorem ipsum dolor sit amet consectetur adipiscing elit. 
    Egestas erat imperdiet sed euismod. Morbi tincidunt augue interdum velit. 
    Nisl tincidunt eget nullam non nisi est sit amet facilisis. 
    Ut tellus elementum sagittis vitae. Tincidunt lobortis feugiat vivamus at augue.
</p>