@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1">Welcome to Rex's Gaming</h1>

<div class="table-responsive"> 
    <table class="table table-striped table-dark" >
        <thead>
            <tr>
                <th scope="col">Game Type</th>
                <th scope="col">Typical Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Single Player</td>
                <td>$39.99 - $59.99</td>
            </tr>
            <tr>
                <td>Multiplayer</td>
                <td>$9.99 - $49.99</td>
            </tr>
            <tr>
                <td>Co-op</td>
                <td>$29.99 - $59.99</td>
            </tr>
        </tbody>
    </table>
</div>

<h2 class="diplay-2">About Rex's Gaming</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Magnis dis parturient montes nascetur ridiculus mus mauris. 
    Commodo ullamcorper a lacus vestibulum sed arcu non odio euismod.
    Ut tortor pretium viverra suspendisse. Sed risus pretium quam vulputate dignissim suspendisse in est. 
    Maecenas pharetra convallis posuere morbi leo urna molestie at elementum. 
    Eget est lorem ipsum dolor sit amet consectetur adipiscing elit. 
    Egestas erat imperdiet sed euismod. Morbi tincidunt augue interdum velit. 
    Nisl tincidunt eget nullam non nisi est sit amet facilisis. 
    Ut tellus elementum sagittis vitae. Tincidunt lobortis feugiat vivamus at augue.
</p>